<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <h3>single file 업로드 하기</h3>&lt;!&ndash;get 방식은 파일의 이름만 전달함&ndash;&gt;
    <form action="single-file" method="post" enctype="multipart/form-data">  &lt;!&ndash;enctype  multipart/form-data 파일객체를 담아서 전달하는 방식 / 타입은 formdata (키/밸류)형식 &ndash;&gt;
        파일 : <input type="file" name="singleFile"/> <br>
        파일 설명 : <input type="text" name="singleFileDescription"/> <br>
        <button>전송</button>
    </form>

    <h3>MultiFile 업로드</h3>
    <form action="multi-file" method="post" enctype="multipart/form-data">
        파일 : <input type="file" name="multipartFiles" multiple /> <br>
        파일 설명 : <input type="text" name="multiFileDescription"/> <br>
        <button>전송</button>
    </form>-->
<h1>파일 업로드 하기</h1>

<h3>single file 업로드하기</h3>
<form action="single-file" method="post" encType="multipart/form-data">
    파일 : <input type="file" name="singleFile"><br>
    파일 설명 : <input type="text" name="singleFileDescription"><br>
    <input type="submit">
</form>

<h3>multi file 업로드하기</h3>
<form action="multi-file" method="post" encType="multipart/form-data">
    파일 : <input type="file" name="multiFiles" multiple><br>
    파일 설명 : <input type="text" name="multiFileDescription"><br>
    <input type="submit">
</form>
</body>
</html>